type: "default"

num_epochs: 170

profiling:
  enabled: true
  latency:
    train:
      dtype: "float32"
      auto_mixed_precision:
        enabled: true
    eval:
      dtype: "float16"

checkpoint:
  - type: "regular"
    epoch_trigger:
      interval: 10
      last: true
    resumable: false
    max_to_keep: 3

task:
  train:
    is_train: true
    data: "train"
    runner: "train"
    logging:
      interval: 10
      local:
        header: "Epoch: [{epoch}]"
      wandb:
        with_epoch: true

  val:
    is_train: false
    data: "val"
    runner: "train"
    logging:
      interval: 10
      metric_prefix: "val_"
      local:
        header: "Val"
        auto_summary: true
      wandb:
        per_iteration_logging:
          enabled: false
        per_epoch_logging:
          enabled: true
          summary_method: "mean"

  test:
    is_train: false
    data: "test"
    runner: "test"
    epoch_trigger:
      last: true
      interval: 10
    logging:
      interval: 100
      metric_prefix: "test_"
      local:
        header: "Test"

  eval:
    is_train: false
    data: "eval"
    runner: "test"
    epoch_trigger:
      last: true
    logging:
      interval: 100
      local:
        header: "Eval"
    batch_collective_communication:
      type: "time"
      interval: 10

data:
  train:
    global_batch_size: 128
    num_io_threads: !const "num_io_threads_per_worker"
    num_workers: !const "num_train_workers"

    type: "LoRATv2_train"

    source:
      type: "dataset"
      parameters:
        !include "../../_dataset/train.yaml"

    sampler:
      type: "random"

      samples_per_epoch: 131072
      weight:
        - match:
            type: "dataset"
            name: "GOT-10k"
          value: 1.0
        - match:
            type: "dataset"
            name: "LaSOT"
          value: 1.0
        - match:
            type: "dataset"
            name: "TrackingNet"
          value: 1.0
        - match:
            type: "dataset"
            name: "COCO"
          value: 1.0

    temporal_sampling: &temporal_sampling_options
      type: "adapt_from_siamese_sampler"
      siamese_training_pair_sampling:
        positive_sample:
          sample_mode: "interval"
          max_gaps: 100
      adaptor:
        type: "passthrough"

    transform: &transform_options
      type: "default"

      SiamFC_cropping:
        search_regions:
          scale_jitter_factor: 0.25
          translation_jitter_factor: 3
          output_min_object_size_in_pixel: 10

      augmentation:
        - type: "horizontal_flip"
          target: ["template", "search_region"]
          probability: 0.5
          joint: false
        - type: "color_jitter"
          target: ["template", "search_region"]
          brightness: 0.4
          contrast: 0.4
          saturation: 0.4
          joint: false
        - type: "DeiT_3_aug"
          target: ["template", "search_region"]
          joint: true
      plugin:
        - type: "LoRATv1_label_generation"
        - type: "LoRATv1_template_foreground_indicating_mask_generation"
        - type: "add_param"
          parameters:
            action: "train"

      visualize: false
  val:
    global_batch_size: 128
    num_io_threads: !const "num_io_threads_per_worker"
    num_workers: !const "num_val_workers"

    type: "LoRATv2_train"

    source:
      type: "dataset"
      parameters:
        !include "../../_dataset/val.yaml"

    sampler:
      type: "random"
      samples_per_epoch: 4096

    temporal_sampling: *temporal_sampling_options

    transform: *transform_options

  test:
    dtype: "float16"
    batch_size: 32
    num_io_threads: !const "num_io_threads_per_worker"
    num_workers: !const "num_eval_workers"

    type: "siamese_tracker_eval"

    source:
      type: "dataset"
      parameters:
        !include "../../_dataset/test-got10k-val.yaml"

    sampler:
      type: "distributed_dynamic_scheduling"
      shuffle: false

    transform:
      type: "LoRATv2"

    result_collector:
      async_worker: true
      log_summary: false
      dispatch:
        - match:
            name_regex: ".*"
          handlers:
            - type: "one_pass_evaluation_compatible"
              file_name: "ope_results"

  eval:
    dtype: "float16"
    batch_size: 128
    num_io_threads: !const "num_io_threads_per_worker"
    num_workers: !const "num_eval_workers"

    type: "siamese_tracker_eval"

    source:
      type: "dataset"
      parameters:
        !include "../../_dataset/test-LoRATv2.yaml"

    sampler:
      type: "distributed_dynamic_scheduling"
      shuffle: true

    transform:
      type: "LoRATv2"

    result_collector:
      async_worker: true
      log_summary: true
      dispatch:
        - match:
            name_regex: ".*"
          handlers:
            - type: "one_pass_evaluation_compatible"
            - type: "external/PyTracking"
              file_name: "results"

runner:
  train:
    type: "default_train"

    optimization:
      optimizer:
        type: "AdamW"
        lr: 1.e-4
        weight_decay: 0.1
        fused: false
        per_parameter:
          - type: "zero_1d_param_weight_decay"
          - name_regex: "embed"
            weight_decay: 0.
      grad_accumulation_steps: 1
      max_grad_norm: 1.0
      zero_grad_set_to_none: true
      lr_scheduler:
        type: "timm"
        sched: "cosine"
        per_iteration: true
        parameters:
          lr_min: 5.e-6
          warmup_prefix: true
          warmup_epochs: 2
          warmup_lr: 1.e-7
      auto_mixed_precision:
        enabled: true
        dtype: float16

    torch_compile:
      enabled: true
    detect_unused_parameters: false

    criteria:
      type: "box_with_score_map"
      classification:
        type: "binary_cross_entropy"
        iou_aware_classification_score: true
        weight: 1.
      bbox_regression:
        type: "GIoU"
        weight: 1.

  test:
    type: "default_eval"
    inference_engine:
      type: "plain"
      auto_mixed_precision:
        enabled: false
      torch_compile:
        enabled: false
    evaluator:
      type: "default"
      pipeline:
        type: "LoRATv2"
        phase: 1
        search_region_cropping:
          min_object_size: 10
        post_process:
          type: "LoRATv2"
          window_penalty: 0.45
